.Gif {
    margin: 5px;
}
.GifContainer {
    background-color: #366fcc;
    padding: 10px;
    margin: 10px;
}

.Gif__ButtonsContainer {
    display: flex;
    justify-content: space-evenly;

}

.Gif__Button {
    height: 30px;
}